@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">

    <div>
        <label>Correo</label>
        <input type="email" name="correo" />
    </div>

    <div>
        <label>Contraseña</label>
        <input type="password" name="password" />
    </div>

    <button type="submit">Ingresar</button>

</form>