<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/homeLayout.css" />
</head>
<body>
        <nav class="nav">
           <section class="nav__right">
            <section class="marca">
                <picture>
@*                     // TODO Falta agragar la imegen de la ONG*@
                <img src="" alt="" />
                </picture>
                <div>AidPortal</div>
            </section>
            <section class="links">
                <a class="links__link" href="">Programas</a>
                <a class="links__link" href="">Acerca de nosotros</a>
                <a class="links__link" href="">Reportes de impacto</a>
                <a class="links__link" href="">Ser volunatario</a>
            </section>
            </section>
            <section class="nav__left">
            @await Html.PartialAsync("_Btn", new BtnViewModel
            {
                TextoBtn = "Iniciar sesión",
                Path = "/Account/IniciarSesion"
            })
            @await Html.PartialAsync("_Btn", new BtnViewModel
            {
                TextoBtn = "Registrarse",
                Path = "/Account/Registrarse"
            })
            </section>
        </nav>
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        <section class="footer__up">
            <section class="footer__column">
                <div class="footer__marca">
                    <picture>
                        <img />
                    </picture>
                    @* TODO Falta que poner nmbre  de ong *@
                    <h2 class="footer__column-title">AID Portal</h2>
                </div>
                <p>
                    Una plataforma socioeconómica dedicada a la ayuda transparente y al apoyo directo a la comunidad.
                    Empoderando a las personas a través de la acción colectiva.
                </p>
            </section>
            <section class="footer__column">
                <h2 class="footer__column-title">Programas</h2>
                <nav class="links links--column">
                    <a href="" class="links__link">Emergencias medicas</a>
                    <a href="" class="links__link">Fundaciones educacionales</a>
                    <a href="" class="links__link">Ayuda por causas de desastres</a>
                </nav>
            </section>
            <section class="footer__column">
                <h2 class="footer__column-title">Organizacion</h2>
                <nav class="links links--column">
                    <a href="" class="links__link">Sobre nosotros</a>
                    <a href="" class="links__link">Casos de exitos</a>
                </nav>
            </section>
        </section>
        <div class="footer__separator"></div>
        <section class="footer__down">
            <p>© 2026 Portal de donacion. Todos los derechos reservados.</p>
            <div class="links">
                <a class="links__link" href="">Politicas de privacidad</a>
                <a href="" class="links__link">Terminos de uso</a>
                <a href="" class="links__link">Politicas de Cookie</a>
            </div>
        </section>
    </footer>
</body>
</html>
