@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization


<nav class="bulma-navbar bulma-px-1 bulma-px-5">
    <section class="bulma-navbar-brand">
        <a class="bulma-navbar-item bulma-title" href="/">AidPortal</a>
    </section>
    <section class="bulma-navbar-menu">
        <ul class="bulma-navbar-start">
            <a class="bulma-navbar-item">
                Programas
            </a>
            <a class="bulma-navbar-item">
                Acerca de nosotros
            </a>
            <a class="bulma-navbar-item">
                Reportes de impacto
            </a>
            <a class="bulma-navbar-item">
                Ser volunatario
            </a>
        </ul>
        <section class="bulma-navbar-end bulma-is-flex bulma-is-align-items-center">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeView Roles="beneficiado" Context="innerContext">
                        <div class="bulma-navbar-item">
                            <a class="bulma-button bulma-is-info">Mi caso</a>
                        </div>
                    </AuthorizeView>
                    <a class="bulma-navbar-item">
                        <figure class="bulma-image profile-pic-container">
                            <img class="profile-pic" src="@context.User.FindFirst("ImagenPerfil")?.Value" alt="Foto de perfil" />
                        </figure>
                    </a>
                </Authorized>
                <NotAuthorized>
                    <div class="bulma-navbar-item">
                        <a href="/login" class="bulma-button bulma-is-warning">Registrarse</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </section>
    </section>
</nav>

<main>
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
